alyn==0.1.1
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.1
idna==2.8
imageio==2.6.1
imutils==0.5.3
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
networkx==2.4
np==1.0.2
numpy==1.18.0
opencv-python==4.1.2.30
Pillow==8.2.0
pylint==2.4.4
pyparsing==2.4.6
pytesseract==0.3.1
python-dateutil==2.8.1
PyWavelets==1.1.1
pyzbar==0.1.8
requests==2.22.0
scikit-image==0.16.2
scipy==1.4.1
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.8
wrapt==1.11.2
